/** User interface styles for the Accesibility Tool app. */

.template {
  display: none;
}

/* Shared across all screen sizes. */

.access-app h1 {
  font-family: 'Roboto Condensed', sans-serif;
  position: absolute;
  z-index: 1;
  margin: 0px;
  color: white;
  text-shadow: 0px 0px 20px black;
}
.access-app h2 {
  font-family: 'Roboto Condensed', sans-serif;
  z-index: 1;
  margin: 0px;
  color: rebeccapurple;
  text-shadow:  0px 0px 2px gray;
}
.access-app h3{
    font-family: 'Roboto Condensed', sans-serif;
    color:rebeccapurple;
}

html,
body,
.access-app,
.access-app .map {
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow: hidden;

}

body,
input,
textarea,
select,
button,
keygen,
isindex {
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 14px;
}

/* todo move to sepearate by screen size*/
.access-app .ui { /* todo take from floatingpanel*/
    position: absolute;
    top: 25%; /*20px;*/
    left: 10px; /*90px;*/
    /*width: 470px;*/
    z-index: 1;
}

.access-app .panel {
    border-radius: 2px;
    background-color: white;
    padding: 15px;
    box-shadow: 0px 0px 20px black;
    overflow: auto;
    margin-bottom: 0;
}

.access-app header{
  padding-bottom: 10px;
}
.access-app .instructions{
    margin: 0;
}
.access-app .intro {
    margin: 0;
}
.access-app .ui h2 {
    margin-top: 0;
    margin-bottom: 0;
    display: block;
}

.access-app .btn-file{
    position: relative;
    overflow: hidden;
}
/* fudge for styling a file input button without it having the default "Choose file" text*/
.access-app .btn-file input[type=file]{
    position: absolute;
    top:0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.access-app .alerts .alert {
      margin-top: 8px;
      margin-bottom: 0;
  }

    .access-app .alerts .alert.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 2s linear;
}

.access-app .alerts .alert {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
}

.access-app .alerts .alert .line2 {
  font-style: italic;
}

.access-app .alerts .multifile {
  padding-left: 1ex;
}

.powered-by-ee {
  position: absolute;
  z-index: 1;
  bottom: 10px;
  left: 50%;
  margin-left: -150px;
  width: 300px;
}

.comingsoon {
    color: gray!important;
}
/* Small screens. */

@media (max-width: 900px) {
  .access-app h1 {
    top: 22px;
    font-size: 37px;
    left: 30px;
  }

  .access-app .panel {
    width: 100%;
    bottom: 0px;
    height: 50px;
  }

  .access-app .panel .tool-controls {
    visibility: hidden;
    max-height: 400px;
    padding-right: 10px;
  }

  .access-app .panel .close {
    display: none;
  }

  .access-app .panel .toggler {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }

  .access-app .panel.expanded .tool-controls  {
    visibility: visible;
  }

  .access-app .panel.expanded {
    height: 278px;
  }

  .access-app .powered-by-ee {
    width: 180px;
  }


}

/* Large screens. */

@media (min-width: 900px) {
  .access-app h1 {
    left: 40px;
    top: 30px;
    font-size: 56px;
    opacity: .98;
  }

  .access-app .panel {
    width: 400px;
    left: 40px;
    top: 126px;
    padding: 14px;
    opacity: .98;
    border-radius: 4px;
  }

  .access-app .panel .close {
    position: absolute;
    top: 14px;
    right: 14px;
    cursor: pointer;
  }

  .access-app .panel .toggler {
    display: none;
  }
}
.modal-footer {   border-top: 0px; }